/* Styling logo */
.logo-name {
  font-family: font(header);
  font-size: 3.5em;
  color: color(green);
  text-transform: uppercase;
  @include tablet {
    font-size: 5.5vw;
  }
  @include mobile {
    font-size: 10vw;
  }
}
.logo-title {
  font-family: font(header);
  font-size: 2em;
  text-transform: uppercase;
  @include tablet {
    font-size: 3vw;
  }
  @include mobile {
    font-size: 5.5vw;
  }
}

/* Styling popup info */
.tooltip {
  position: relative;
  display: inline-block;

  @include mobile {
    width: 100%;
  }
}
.tooltip b {
  border-bottom: 1px dotted color(dark);
}
.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.4s;
}
.tooltiptext {
  width: 400px;
  background-color: color(dark);
  color: color(light);
  font-size: font-size(h6);
  padding: 1em;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 0;

  @include mobile {
    width: 100%;
    left: -1em;
  }
}
.tooltiptext:after {
  content: "\25bc";
  position: absolute;
  bottom: -0.7em;
  left: 10%;
  color: color(dark);

  @include mobile {
    left: 20%;
  }
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}